html {
	background: #fff;
	height: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: #6f655f;
	font: 400 100%/1.5 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	margin: 0;
	max-width: 30em;
	padding: 1.5rem;
	position: relative;
}

::-moz-selection {
	background: #fe6;
	color: #000;
	text-shadow: none;
}

::selection {
	background: #fe6;
	color: #000;
	text-shadow: none;
}

a {
	text-decoration: none;
}

a:link {
	color: #0f8ccf;
}

a:visited {
	color: #0f8ccf;
}

a:hover,
a:focus {
	color: #6f655f;
}

a:hover {
	-o-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;
}

a:active {
	color: #e52330;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul a {
	display: inline-block;
}

@font-face {
	font-family: 'seufelipe';
	src: url("../fonts/seufelipe.eot");
	src: url("../fonts/seufelipe.eot?#iefix") format('embedded-opentype'), url("../fonts/seufelipe.woff") format('woff'), url("../fonts/seufelipe.ttf") format('truetype'), url("../fonts/seufelipe.svg#seufelipe") format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'seufelipe';
	font-size: 100%;
	line-height: 0;
	margin-right: .5em;
	content: attr(data-icon);
	speak: none;
}

/* Adam Whitcroft Tooltips
 * https://github.com/AdamWhitcroft/CSS.Tooltips
 */

[data-tip] {
	position: relative;
}

[data-tip]:before {
	border: 6px solid #6f655f;
	border-top-color: #6f655f;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	content: '';
	display: none;
	font-size: 0;
	height: 0;
	line-height: 0;
	position: absolute;
	top: -2px;
	left: 0;
	width: 0;
	z-index: 8;
}

[data-tip]:after {
	background: #6f655f;
	content: attr(data-tip);
	color: #fff;
	display: none;
	font-size: 1rem;
	height: 1.5rem;
	line-height: 1.5;
	padding: 0 .5em;
	position:absolute;
	top: -26px;
	left: 0;
	white-space: nowrap;
	word-wrap: normal;
	z-index: 9;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}

.assistive-text {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fn {
	font-size: 1em;
	margin: 0;
}

.about {
	margin: 0 0 1.5rem 0;
}

.works {
	margin: 0 0 1.5rem 0;
}

.contact {

}

.contact li {
	float: left;
	margin-right: .5em;
}

.contact .social {
	font-size: 1.13rem;
	line-height: 1.33;
	margin-right: 0;
}

@media only screen and (min-width: 920px) {

	.works li {
		float: left;
		width: 50%;
	}

}
