/*Animation Prefs*/
@-webkit-keyframes pulse {
  0% {
    background-color: #3a475a; }
  25% {
    background-color: #3c6977; }
  50% {
    background-color: #5c6f4d; }
  75% {
    background-color: #8a7160; }
  100% {
    background-color: #3c3b40; } }
html {
  background-color: #3a4d60;
  -webkit-animation: pulse 80s infinite alternate;
  height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  color: #bd8b79;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 100%/1.5 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  position: relative; }

::-moz-selection {
  background: #f2f2f2;
  color: black;
  text-shadow: none; }

::selection {
  background: #f2f2f2;
  color: black;
  text-shadow: none; }

a:link, a:visited {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none; }

h1,
h2,
p {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-transform: lowercase; }

h1 {
  text-transform: uppercase; }

h2::after {
  content: '\2015';
  display: block; }

img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%; }
  @media screen and (min-width: 481px) {
    img {
      max-width: 701px;
      width: 32vw; } }

.content {
  display: flex;
  align-items: flex-end;
  position: relative; }
  @media screen and (max-width: 480px) {
    .content {
      flex-direction: column; } }

.about {
  padding: 1.5em; }
  .about::after {
    content: '\2715';
    display: block; }
  @media screen and (min-width: 481px) {
    .about {
      order: 2;
      position: relative;
      margin-left: -3em;
      top: 3em; } }
