$color-background: #fff;
$color-text: #222;
$color-accent: #fe6;

$small-break: 380px !default;
$medium-break: 768px !default;

@mixin small() {
  @media screen and (max-width: $small-break) {
    @content;
  }
}

@mixin medium() {
  @media screen and (max-width: $medium-break) {
    @content;
  }
}

@mixin large() {
  @media screen and (min-width: $medium-break) {
    @content;
  }
}

html {
  box-sizing: border-box;
  font: normal 100%/1.4 Karla, sans-serif;
  height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  @include large {
    font-size: 131.3%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $color-background url('images/bg.png');
  color: $color-text;
  margin: 0;
  padding: 26px;
  position: relative;
}

::selection {
  background-color: crimson;
}

::-moz-selection {
  background-color: crimson;
}

a {
  font-family: Vollkorn, serif;
  color: inherit;
  text-decoration: none;

  &:hover {
    box-shadow: inset 0 -.6em 0 0 $color-accent;
  }
}

h1,
h2,
p {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

section {
  position: relative;
}

main {
  background-color: #fff;
}

.opening {
  background-color: $color-text;
  color: $color-background;
  font-size: 2.5rem;
  mix-blend-mode: multiply;
  display: flex;
  align-items: center;
  padding: 3rem;
}

.about {
  background-color: $color-accent;
  margin: -3rem 0 0 auto;
  max-width: 48em;
  padding: 3rem;
}

.work {
  border: 2px solid;
  box-shadow: 4px 4px 0 $color-text;
  margin: 1.5rem;
  padding: 1.5rem 0;

  p {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    line-height: 1.2;
    flex: 0 0 33.333%;
    padding: .75em 0;

    &::after {
      content: '\2192';
      opacity: .3;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  text-align: center;
}

.email {
  font-size: 2.5rem;
}

.thanks {
  padding: 1.5rem 0;
  text-align: center;

  img {
    height: 1em;
  }
}
