::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

html {
	background: #111 url(https://s3.amazonaws.com/seufelipe/piedadi.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

body {
	font-family: museo-slab-1, museo-slab-2, sans-serif;
	font-weight: 500;
	height: 100%;
	line-height: 1;
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

a:link {
	-webkit-tap-highlight-color: #000;
}

a:hover {
	color: #fffc7f;
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

.vcard {
	border-bottom: 9px solid #fff;
	border-top: 9px solid #fff;
	color: #fff;
	bottom: 110px;
	left: 110px;
	padding: 18px 0;
	position: absolute;
	text-align: center;
	width: 180px;
}

.fn {
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 32px;
	font-style: italic;
	margin: 0 0 18px;
}

h1 a {
	color: #fff;
}

.about {
	border-bottom: 2px solid #fff;
	border-top: 2px solid #fff;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 18px;
	padding: 9px 0;
}

.email {
	display: block;
	font-size: 16px;
}

.email strong {
	display: block;
	font-size: 64px;
	font-weight: 700;
}

.phone {
	background: #fff;
	color: #111;
	font-weight: 700;
	padding: 2px 4px;
	margin: 9px;
}

.twitter,.facebook {
	font-style: italic;
}

.twitter:hover {
	color: #33ccff;
}

.facebook:hover {
	color: #3b5998;
}

.blog {
	display: block;
	font-size: 32px;
	letter-spacing: 3px;
	margin-top: 9px;
	text-transform: uppercase;
}
.blog:before,
.blog:after {
	content: "~";
}

.blog:hover {
	color: #f0c70d;
}

.credits {
	background: #111;
	bottom: 0;
	font-size: 11px;
	padding: 6px 18px 6px 9px;
	position: absolute;
	right: 0;
}