$color-background: #3a4d60;
$color-text: #c8f7c5;

$small-break: 480px !default;
$medium-break: 481px !default;

@mixin small() {
    @media screen and (max-width: $small-break) {
        @content;
    }
}

@mixin medium() {
    @media screen and (max-width: $medium-break) {
        @content;
    }
}

@mixin large() {
    @media screen and (min-width: $medium-break) {
        @content;
    }
}

html {
    background-color: $color-background;
    height: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: $color-text;
    height: 100%;
    font: 500 112.5%/1.8 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    position: relative;

    @include large {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

a {
    &:link,
    &:visited {
        border-bottom: 2px solid;
        color: inherit;
        text-decoration: none;
    }
}

h1,
h2,
p {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    text-transform: lowercase;
}

h1 {
    text-transform: uppercase;
}

h2::after {
    content: '\002B';
    display: block;
}

img {
    display: block;
    height: auto;
    margin: 0;
    max-width: 100%;

    @include large {
        max-width: 701px;
        width: 32vw;
    }
}

main {
    display: flex;
    align-items: flex-end;
    position: relative;

    @include small {
        flex-direction: column;
    }
}

section {
    display: block;
    padding: 1.5em;

    @include large {
        border: 4px solid;
        order: 2;
        position: relative;
        margin-left: -3em;
        top: 3em;
    }
}
