// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -

.footer {
	padding: 64px 0;

	@include mq(tabletp) {
		padding: 80px 0;

		.wrap {
			grid-template-columns: 1fr 1fr;
		}
	}
}